{% extends 'base.html' %}
{% block content %}
<div class="container py-4 mt-3 pt-2" style="max-width: 400px;">
    <h2 class="fw-bold mb-4 text-center">Register</h2>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="fullName" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="fullName" name="full_name" required>
        </div>
        <div class="mb-3">
            <label for="shopName" class="form-label">Name of the Shop</label>
            <input type="text" class="form-control" id="shopName" name="shop_name" required>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="phone" name="phone" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Register</button>
    </form>
    <div class="text-center mt-3">
        Already have an account? <a href="{% url 'pos:login' %}">Login</a>
    </div>
</div>
{% endblock %} 